.signout-menu .button {
  height: 100%;
  line-height: 60px;
  padding: 0 20px;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}
.signout-menu .button .dropdown-icon {
  margin-left: 8px;
  transition: color 200ms ease-in-out;
}
.signout-menu .popup {
  right: 10px;
  top: 66px;
}
.signout-menu .popup .triangle {
  left: auto;
  right: 8px;
}
.signout-menu .popup .signout {
  width: 100%;
}
