.theme-light .theme-menu .button {
  color: #4C637B;
}
.theme-light .theme-menu .button .dropdown-icon {
  color: #38B1EB;
}
.theme-light .theme-menu .button:hover {
  color: #5f7c9b;
}
.theme-light .theme-menu .button:hover .dropdown-icon {
  color: #66c3f0;
}
