.theme-dark .theme-menu .button {
  color: #F0F4F6;
}
.theme-dark .theme-menu .button .dropdown-icon {
  color: #5AB0EE;
}
.theme-dark .theme-menu .button:hover {
  color: white;
}
.theme-dark .theme-menu .button:hover .dropdown-icon {
  color: #88c6f3;
}
