.theme-light .nav-menu {
  background: #4C637B;
}
.theme-light .nav-menu .nav-menu-user .user-avatar {
  background: #344C67;
  color: #E3EAF3;
}
.theme-light .nav-menu .nav-menu-user .user-name {
  color: #E3EAF3;
}
.theme-light .nav-menu .nav-menu-user .user-desc {
  color: #758697;
}
.theme-light .nav-menu .nav-menu-user .user-contacts > * {
  color: #758697;
}
.theme-light .nav-menu .nav-menu-user .user-contacts > *:hover {
  color: #E3EAF3;
}
.theme-light .nav-menu .nav-menu-user .user-menu-collapse-button {
  color: #38B1EB;
}
.theme-light .nav-menu .nav-menu-item .nav-menu-item-folder {
  color: #E3EAF3;
}
.theme-light .nav-menu .nav-menu-item .nav-menu-item-folder:hover {
  background: rgba(255, 255, 255, 0.05);
}
.theme-light .nav-menu .nav-menu-item .nav-menu-item-folder:focus {
  background: rgba(0, 0, 0, 0.05);
}
.theme-light .nav-menu .nav-menu-item .nav-menu-item-children .nav-menu-item-link {
  color: #E3EAF3;
  text-decoration: none;
  background: #4C637B;
}
.theme-light .nav-menu .nav-menu-item .nav-menu-item-children .nav-menu-item-link:hover {
  background: #506881;
}
.theme-light .nav-menu .nav-menu-item .nav-menu-item-children .nav-menu-item-link:focus {
  background: #485e75;
}
.theme-light .nav-menu .nav-menu-item .nav-menu-item-children .nav-menu-item-link.router-link-active {
  background: #44596e;
}
