@import '../../../common.scss';

.theme-dark .nav-menu {
	background: $menu-dark;

	.nav-menu-user {
		.user-avatar {
			background: $brand-dark;
			color: $light-text-dark;
		}

		.user-name {
			color: $light-text-dark;
		}

		.user-desc {
			color: $title-dark;
		}

		.user-contacts {
			& > * {
				color: $title-dark;
			}
			& > *:hover {
				color: $nav-dark;
			}
		}

		.user-menu-collapse-button {
			color: $highlight-dark;
		}
	}

	.nav-menu-item {
		.nav-menu-item-folder {
			color: $light-text-dark;

			&:hover {
				background: transparentize(#FFF, .95);
			}

			&:focus {
				background: transparentize(#000, .95);
			}
		}

		.nav-menu-item-children {

			.nav-menu-item-link {
				color: $light-text-dark;
				text-decoration: none;
				background: $menu-dark;

				&:hover {
					background: lighten($menu-dark, 2%);
				}

				&:focus {
					background: darken($menu-dark, 2%);
				}

				&.router-link-active {
					background: darken($menu-dark, 4%);
				}

			}
		}
	}

}