@import '../../common.scss';

.signin {
	position: absolute;
	width: 100%;
	height: 100%;

	& > * {
		width: 400px;
		text-align: center;
		margin: 20px auto;
		user-select: none;
	}

	h1 {
		line-height: 40px;
		margin: 10% auto 2%;
	}

	.signin-form {
		box-sizing: border-box;
		background: transparent;
		padding: 10px;

		.field {
			width: 100%;
			margin-top: 20px;
		}

		.error-msg {
			margin-top: 10px;
			width: 100%;
			height: 20px;
			line-height: 20px;
			color: $error;
			font-size: 14px;
			text-align: center;
		}

		.sign-in-button {
			width: 100%;
			margin-top: 10px;
		}

	}

	.signin-theme {
		position: relative;

		.signin-theme-button {
			cursor: pointer;
		}

		.signin-theme-popup {
			width: 400px;
			top: 20px;

			.triangle {
				left: 197px;
			}

			.content {

				@include floatfix;

				padding: 20px;
				box-sizing: border-box;

				& > * {
					float: left;
					margin-left: 40px;
				}

				& > *:first-child {
					margin-left: 0;
				}
			}
		}
	}

	.copyright {
		font-size: 12px;
		line-height: 20px;
		transition: all $transition-duration ease-in-out;
	}
}

@media (max-width: 767px) {
	.signin {
		min-width: $minWidth;

		h1 {
			width: 100%;
			margin: 20% auto 4%;
		}

		.signin-form {
			width: 100%;
		}

		.copyright {
			font-size: 12px;
			width: 100%;
		}
	}
}