@import '../common.scss';

.module-header {
	@include shadow;

	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding: 20px;
	line-height: 40px;
	font-size: 20px;
	text-align: left;
	user-select: none;
	cursor: default;

	.slot {
		float: right;
	}
}

.theme-dark .module-header {
	color: $title-dark;
	background: $title-bg-dark;
}

.theme-light .module-header {
	color: $title-light;
	background: $content-bg-light;
}