@import '../../../common.scss';

.list-item {
	width: 300px;
	height: 50px;
	box-sizing: border-box;
	transition: background $transition-duration ease-in-out;
	padding: 10px;
	border: none;
	cursor: pointer;
	line-height: 30px;
	font-size: 14px;

	& > * {
		display: block;
		float: left;
	}

	i {
		position: static;
		width: 40px;
		height: 30px;
		line-height: 30px;
		text-align: center;
	}

	&[disabled] {
		cursor: not-allowed;
	}

	&:first-child {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	&:last-child {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

.theme-light .list-item {
	background: $popup-light;
	color: lighten($field-light, 10%);

	i {
		color: lighten($field-light, 20%);
	}

	&:hover {
		background: lighten($popup-light, 5%);
		color: $field-light;
	}

	&:active {
		background: darken($popup-light, 1%);
	}

	&[disabled] {
		background: lighten($popup-light, 40%);
	}
}

.theme-dark .list-item {
	background: $popup-dark;
	color: lighten($light-text-dark, 10%);

	i {
		color: lighten($light-text-dark, 20%);
	}

	&:hover {
		background: lighten($popup-dark, 5%);
		color: $light-text-dark;
	}

	&:active {
		background: darken($popup-dark, 1%);
	}

	&[disabled] {
		background: lighten($popup-dark, 40%);
	}
}