@import '../../../common.scss';

.theme-dark .list-item {
	background: $popup-dark;
	color: lighten($light-text-dark, 10%);

	i {
		color: lighten($light-text-dark, 20%);
	}

	&:hover {
		background: lighten($popup-dark, 5%);
		color: $light-text-dark;
	}

	&:active {
		background: darken($popup-dark, 1%);
	}

	&[disabled] {
		background: lighten($popup-dark, 40%);
	}
}